h1{
    color:brown;
   text-align: center;
}
h2{
    text-align: center;
}
.art{
    color: blue;
    
}
a{
 color: black;
    background-color: white;
    font-size: 10px;
    border-radius: 10px;
    padding: 5px;
    margin: 30px;
}
header{
    background-color: rgb(56, 7, 7);
}
